@import url("https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
section .imgBx {
  position: relative;
  width: 70%;
  height: 100%;
}
section .imgBx:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section .imgBx imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 10 0%;
  height: 100%;
  object-fit: cover;
}
section .contentBx {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
section .contentBx .formBx {
  width: 50%;
}

section .contentBx .formBx h2 {
  text-align: center;
  margin-bottom: 5px;
  color: #607d8b;
  font-weight: 800;
  font-size: 50px;
}

section .contentBx .formBx h3 {
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 1px;
}

section .contentBx .formBx .inputBx {
  margin-bottom: 20px;
}

section .contentBx .formBx .inputBx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

section .contentBx .formBx .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
  align-content: center;
}

section .contentBx .formBx .inputBx input[value="Log In"] {
  background: #03fc28;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
section .contentBx .formBx .inputBx input[value="Register"] {
  background: #545885;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

section .contentBx .formBx .inputBx input[value="Log In"]:hover {
  background: #f53677;
}
section .contentBx .formBx .inputBx input[value="Register"]:hover {
  background: #f53677;
}

section .contentBx .formBx .inputBx p {
  color: #607d8b;
}

section .contentBx .formBx .inputBx p a {
  color: #ff4584;
}
section .contentBx .formBx .inputBx h4 {
  align-items: center;
  cursor: pointer;
}
section .contentBx .formBx .inputBx h4[type="submit"]:hover {
  background: #f53677;
}

section .contentBx .formBx .inputBx h4 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
}
